.aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}
.logoutNav {
    display: flex;
    margin: auto 20px 0 20px;
    gap: 16px;
    align-items: center;
}

.noLabel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}